<h2>Featured Places Near You...</h2>
      <div class="card-deck">
        <!-- <mat-grid-list cols="4"> -->
            
  <div class="card">

    <img class="card-img-top" src="src/assets/img/swadistaahar.jpg" alt="Card image cap" >
        <div class="card-body">
      <h5 class="card-title">Swadisth Aahar</h5>
      <p class="card-text">South Indian, North Indian and Chinese<br>Rs.150 for one<br> Get Amazing Discounts!!</p>
      <a href="#" class="btn btn-primary button" style="float:right;">Order Online</a>
      <mat-icon (onclick)="AddToCollection()">library_add</mat-icon>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 2 hrs ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="src/assets/img/wokpaperscissors.jpg" alt="Card image cap" >
    <div class="card-body">
      <h5 class="card-title">Wok Paper Scissors</h5>
      <p class="card-text">Singaporean, Malayasian, Chinese, Indian<br>min.₹200 per order.<br>Get 15% Off on first order.</p>
      <a href="#" class="btn btn-primary button">Order Online</a>
      <mat-icon (onclick)="AddToCollection()">library_add</mat-icon>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 months ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="src/assets/img/Kotakachori.jpg" alt="Card image cap" >
    <div class="card-body">
      <h5 class="card-title">Kota Kachori</h5>
      <p class="card-text">Street Foods, Dessert, North Indian, Rajasthani<br>₹150 min. order<br>Open 9hrs./day</p>
      <a href="#" class="btn btn-primary button">Order Online</a>
      <mat-icon (onclick)="AddToCollection()">library_add</mat-icon>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 weeks ago</small>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="src/assets/img/samosasingh.jpeg" alt="Card image cap" >
    <div class="card-body">
      <h5 class="card-title">Samosa Singh</h5>
      <p class="card-text">Street foods, Fast foods, rolls, desserts<br> ₹100 Off on orders more than ₹500<br>Hurry!!</p>
      <a href="#" class="btn btn-primary button">Order Online</a>
      <mat-icon (onclick)="AddToCollection()">library_add</mat-icon>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 30 mins ago</small>
    </div>
  </div>
<!-- </mat-grid-list> -->
</div>
