<body>
<form>
    <span>Search By Restaurant/Location:</span><br>
    <input class="search" type="text"  name="EnterLocation" [(ngModel)]="EnterLocation">
    <!-- <button (click)="enter()">Submit</button> -->

    <br>
    <span>Search By Cuisine:</span><br>
        <input class="search1" type="text"  name="EnterCuisine" [(ngModel)]="EnterCuisine"><br>
    <a (click)="enter()" class="btn btn-primary">Submit</a>
    <br>
    </form>
    <!-- <button (click)="sendData()">Add To Collections</button> -->

    <div class="row" *ngFor="let res1 of res">
        <div class="card" style="width:25%">
          <div class="card-body">
            <img src="{{res1.featured_image}}">
            <h4 class="card-title">{{res1.name}}</h4>
            <p>Best in:{{res1.cuisines}}</p>
            <p>avg for two: {{res1.average_cost_for_two}}</p>
            <p>Location: {{res1.location.city}}</p>
            <a  class="btn btn-primary" (click)="sendData(res1)">Add To Collections</a>
          </div>
        </div>
      </div>
    </body>
