<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">funfoods</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#foot">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Find Restaurants
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">In Kormangala</a>
            <a class="dropdown-item" href="#">In BTM</a>
            <a class="dropdown-item" href="#">In Bellandur</a>
            <a class="dropdown-item" href="#">In Electronic City </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">And many more...</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#foot">Blog</a>
        </li>
      </ul>
    </div>


  </nav>
  <br>

  <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Log In:
          </mat-panel-title>
          <mat-panel-description>
            Type your user-id and key
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
          <input matInput placeholder="user-id">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="key">
        </mat-form-field>

        <a href="#" class="btn btn-primary" (click)="enter()" style="position:relative; float:right">log in</a>
      </mat-expansion-panel>

    </mat-accordion>

    <br>
<div class="links">
      <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile><a [routerLink]="['searc-restaurants']" class="btn btn-primary" >Search Restaurants</a></mat-grid-tile>
      <mat-grid-tile><a [routerLink]="['featured-places']" class="btn btn-primary" >Featured Places Near You</a></mat-grid-tile>
      <mat-grid-tile><a [routerLink]="['show-collections']" class="btn btn-primary" >Show Your Collections</a></mat-grid-tile>
      <mat-grid-tile><a [routerLink]="['exotic-restaurants']" class="btn btn-primary" >Exotic Restaurants</a></mat-grid-tile>
    </mat-grid-list>
    </div>

</body>

